<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">
      <span>Survey Application</span>
      <span class="fill-space"></span>
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
          <mat-icon align="end">dehaze</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/home'">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
          <button mat-menu-item [routerLink]="'/order'">
            <mat-icon>add_shopping_cart</mat-icon>
            <span>Order</span>
          </button>
          <button mat-menu-item [routerLink]="'/survey-nampo'">
            <mat-icon>assignment</mat-icon>
            <span>Nampo Survey</span>
          </button>
          <button mat-menu-item type="submit" (click)="onLogout()">
            <mat-icon>lock</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
    </mat-toolbar>
  </mat-card-content>
</mat-card>
