<mat-card>
  <mat-card-content>
    <mat-toolbar color='warn'>
      <span class='spacer'></span>
        {{ error }}
      <span class='spacer'></span>
    </mat-toolbar>
  </mat-card-content>
</mat-card>
