<mat-card>
  <mat-card-content>
    <mat-toolbar color='primary'>
      <span class='spacer'></span>
        <h3>© Copyright TNC CONSULTANT {{today | date:'yyyy'}}</h3>
      <span class='spacer'></span>
    </mat-toolbar>
  </mat-card-content>
</mat-card>
