<mat-card>
  <mat-card-title>Orders</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
          Submit
        </button>
      </formly-form>
    </form>
  </mat-card-content>
</mat-card>
