<mat-card>
  <mat-card-content>
    <mat-card-title>Angular Material Test</mat-card-title>
    <mat-card-subtitle>
      The purpose of this site is purely to be a learning tool to better understand Angular, Formly and Material concepts.
    </mat-card-subtitle>
    <mat-grid-list cols="1">
      <mat-card-title>
        <div class="info">
          <h4 class="info-title">A Call to Action</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in arcu auctor nisi suscipit auctor ut quis nibh. Suspendisse condimentum metus.</p>
        </div>
      </mat-card-title>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
