<form [formGroup]="form" (ngSubmit)="onSubmit(model)">
    <mat-card>
        <mat-card-title>Customer Details</mat-card-title>
        <mat-card-content>
            <formly-form [model]="model" [fields]="customerFields" [options]="options" [form]="form"></formly-form>
        </mat-card-content>
      </mat-card>
    <br/>
    <mat-card>
        <mat-card-title>Products of Interest</mat-card-title>
        <mat-card-content>
            <formly-form [model]="model" [fields]="productsFields" [options]="options" [form]="form"></formly-form>
        </mat-card-content>
      </mat-card>
    <br/>
    <mat-card>
        <mat-card-title>Types of Industry</mat-card-title>
        <mat-card-content>
            <formly-form [model]="model" [fields]="industriesFields" [options]="options" [form]="form"></formly-form>
        </mat-card-content>
      </mat-card>
    <br/>
    <mat-card>
        <mat-card-title>Other Information</mat-card-title>
        <mat-card-content>
            <formly-form [model]="model" [fields]="otherInfoFields" [options]="options" [form]="form"></formly-form>
        </mat-card-content>
      </mat-card>
    <br/>
    <mat-card>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                Submit
            </button>
        </mat-card-actions>
    </mat-card>
</form>
