@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-card-title {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 20px;
  color: rgba(0,0,0,.54);
  background: rgba(0,0,0,.03);
}

.primary-snackbar {
  background-color: #000000;
}
.info-snackbar {
  background-color: #3f51b5;
}
.warn-snackbar {
  background-color: #f44336;
}

.flex-1 { flex: 1; }

.flex-2 { flex: 2; }

.flex-3 { flex: 3; }

.flex-4 { flex: 4; }

.flex-5 { flex: 5; }

.flex-6 { flex: 6; }
